---
import { fetchPosts } from "../lib/api";

const posts = await fetchPosts();

---

<html>


<body>
    
<h1>Testing Netlify Issue</h1>

<p>When I run netlify dev in the terminal it hangs with this message</p>
<code>

    
</code>

</body>


</html>